@font-face {
  font-family: 'featherBold';
  src: url('/assets/fonts/FeatherBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.font-featherBold {
  font-family: 'feather', sans-serif !important;
}