@font-face {
  font-family: 'featherBold';
  src: url('./FeatherBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

.font-featherBold {
  font-family: 'featherBold', sans-serif !important;
}