@font-face {
  font-family: 'featherBold';
  src: url('https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold') format('truetype');
  font-weight: normal;
  font-style: normal;

}

.font-featherBold {
  font-family: 'featherBold', sans-serif !important;
}